package dashboard


templ Writer(){
    @Layout(){
        <h2>This is the Writer Form</h2>
        <form enctype="multipart/form-data" action="/dashboard/writer/new" method="post">
            <input type="text" id="article-title" name="article-title"/>
            <input type="file" id="article-file" name="article-file" accept=".md"/>
            <button type="submit">Upload</button>
        </form>
    }
}
