package dashboard


templ Writer(){
    @Layout(){
        <h2>This is the Writer Form</h2>
        <form action="/api/article" method="post">
            <input type="text"/>
            <input type="file"/>
        </form>
    }
}
